/N5.Permissions.Api/obj
/N5.Permissions.Application/obj
/N5.Permissions.Domain/obj
/N5.Permissions.Infrastructure/obj
/N5.Permissions.Tests/obj
/N5.Permissions.Api/bin
/N5.Permissions.Application/bin
/N5.Permissions.Domain/bin
/N5.Permissions.Infrastructure/bin
/N5.Permissions.Tests/bin
/.vs
/.github/workflows